

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
    <!-- Bootstrap CSS -->
     <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
  <!--    bootstrap javasript -->
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="css/styles.css" rel="stylesheet">
    <title>Hello, world!</title>
  </head>
{#  <body>#}
{#  <nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#  <a class="navbar-brand" href="#">Navbar</a>#}
{#  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">#}
{#    <span class="navbar-toggler-icon"></span>#}
{#  </button>#}
{#  <div class="collapse navbar-collapse" id="navbarNav">#}
{#    <ul class="navbar-nav">#}
{#      <li class="nav-item active">#}
{#        <a class="nav-link" href="/basicform">Home <span class="sr-only">(current)</span></a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="/basicform">Basic HTML Form</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="/basicform">WTF Form for flask (To Be Added)</a>#}
{#      </li>#}
{#    </ul>#}
{#  </div>#}
{#</nav>#}
{##}
{#    <div id="content">{% block content %}{% endblock %}</div>#}
{##}
{##}
{##}
{#  </body>#}







<body>

<section id="title">

    <div class="container-fluid">

        <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Calculator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/basicform">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/basicform"></a>
      </li>

    </ul>
  </div>
</nav>

    <div id="content">{% block content %}{% endblock %}</div>




    </div>

</section>


<footer class="page-footer font-small ">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <p class="footerP">© Copyright 2021 SmeetKathiria</p>


    </div>

    <!-- Copyright -->

</footer>

</body>

</html>